<section class="products">
    <div class="container">
      <h1>MENU</h1>
      <ul>
        <li>
          <a href="#">
            <img src="pic1.jfif" alr="オムライス">
            <h2>オムライス</h2>
            <p>700円</p>
          </a>
        </li>  
        <li>
          <a href="#">
            <img src="pic2.jfif" alr="トマトスパゲティ">
            <h2>トマトスパゲティ</h2>
            <p>800円</p>
          </a>
        </li>  
        <li>
          <a href="#">
            <img src="pic3.jfif" alr="グラタン">
            <h2>グラタン</h2>
            <p>1000円</p>
          </a>
        </li>  
        <li>
          <a href="#">
            <img src="pic4.png" alr="ハンバーグ">
            <h2>ハンバーグ</h2>
            <p>900円</p>
          </a>
        </li>  
        <li>
          <a href="#">
            <img src="pic5.jfif" alr="パンケーキ">
            <h2>パンケーキ</h2>
            <p>800円</p>
          </a>
        </li>  
      </ul>
      <a href="#" class="more">もっと見る</a>
    </div>
  </section>